<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980997427248-3fed7ivbi1o0rmk8npuhbbqqpeu6qb6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980997427248-3fed7ivbi1o0rmk8npuhbbqqpeu6qb6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDicTGJhK68c29eyY6NAx2n4bxLnY6kHuY</string>
	<key>GCM_SENDER_ID</key>
	<string>980997427248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.boyima98.MealCart</string>
	<key>PROJECT_ID</key>
	<string>mealcart-71da1</string>
	<key>STORAGE_BUCKET</key>
	<string>mealcart-71da1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980997427248:ios:7378cd761ed392aac89df5</string>
</dict>
</plist>